@import './Components/Header/style.scss';
@import './Components/Footer/style.scss';
@import './Components/Intro/style.scss';
@import './Components/Item/style.scss';
@import './Components/Form/style.scss';
@import './Components/Compte/style.scss';
@import './Components/Information/style.scss';
@import './pages/Error/style.scss';
@import './Pages/Accueil/style.scss';
@import './Pages/SignIn/style.scss';
@import './Pages/User/style.scss';

@media (min-width: 920px) {
    .introduction {
      height: 400px;
      background-position: 0% 33%;
      section {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 300px;
        margin: 2rem;
        p {
          font-size: 1.2rem;
        }
        .subtitle {
          font-size: 1.5rem;
        }
      }
    }
    .items {
      flex-direction: row;
    }
  }
  
  @media (min-width: 720px) {
    .compte {
      flex-direction: row;
      .cta {
        flex: 0;
        button {
          width: 200px;
        }
      }
    } 

  
}